adjusttext==0.8 ; python_version >= "3.11" and python_version < "3.12"
affine==2.4.0 ; python_version >= "3.11" and python_version < "3.12"
attrs==22.2.0 ; python_version >= "3.11" and python_version < "3.12"
bidict==0.22.1 ; python_version >= "3.11" and python_version < "3.12"
certifi==2022.12.7 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.0.1 ; python_version >= "3.11" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.11" and python_version < "3.12"
cligj==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
colourmap==1.1.10 ; python_version >= "3.11" and python_version < "3.12"
contourpy==1.0.7 ; python_version >= "3.11" and python_version < "3.12"
cos @ git+ssh://git@github.com/SongshGeo/tencent-cos-manipulations.git@dev ; python_version >= "3.11" and python_version < "3.12"
cos-python-sdk-v5==1.9.22 ; python_version >= "3.11" and python_version < "3.12"
crcmod==1.7 ; python_version >= "3.11" and python_version < "3.12"
cvxpy @ git+ssh://git@github.com/cvxpy/cvxpy.git@master ; python_version >= "3.11" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.11" and python_version < "3.12"
ecos==2.0.12 ; python_version >= "3.11" and python_version < "3.12"
fiona==1.9.1 ; python_version >= "3.11" and python_version < "3.12"
fonttools==4.38.0 ; python_version >= "3.11" and python_version < "3.12"
future==0.18.3 ; python_version >= "3.11" and python_version < "3.12"
geopandas==0.12.2 ; python_version >= "3.11" and python_version < "3.12"
idna==3.4 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
joblib==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.11" and python_version < "3.12"
lazy-loader==0.1 ; python_version >= "3.11" and python_version < "3.12"
littleutils==0.2.2 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.2 ; python_version >= "3.11" and python_version < "3.12"
matplotlib==3.7.0 ; python_version >= "3.11" and python_version < "3.12"
mksci-font==0.1.3 ; python_version >= "3.11" and python_version < "3.12"
munch==2.5.0 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.24.2 ; python_version >= "3.11" and python_version < "3.12"
osqp==0.6.2.post8 ; python_version >= "3.11" and python_version < "3.12"
outdated==0.2.2 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.0 ; python_version >= "3.11" and python_version < "3.12"
pandas-flavor==0.5.0 ; python_version >= "3.11" and python_version < "3.12"
pandas==1.5.3 ; python_version >= "3.11" and python_version < "3.12"
patsy==0.5.3 ; python_version >= "3.11" and python_version < "3.12"
pca==1.9.1 ; python_version >= "3.11" and python_version < "3.12"
pillow==9.4.0 ; python_version >= "3.11" and python_version < "3.12"
pingouin==0.5.3 ; python_version >= "3.11" and python_version < "3.12"
prettytable==3.6.0 ; python_version >= "3.11" and python_version < "3.12"
progressbar2==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
pycryptodome==3.17 ; python_version >= "3.11" and python_version < "3.12"
pygam==0.8.0 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.11" and python_version < "3.12"
pyproj==3.4.1 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
python-utils==3.5.2 ; python_version >= "3.11" and python_version < "3.12"
pytz==2022.7.1 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.11" and python_version < "3.12"
qcloudsms-py==0.1.4 ; python_version >= "3.11" and python_version < "3.12"
qdldl==0.1.5.post3 ; python_version >= "3.11" and python_version < "3.12"
rasterio==1.3.6 ; python_version >= "3.11" and python_version < "3.12"
requests==2.28.2 ; python_version >= "3.11" and python_version < "3.12"
scatterd==1.2.5 ; python_version >= "3.11" and python_version < "3.12"
scikit-learn==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.11" and python_version < "3.12"
scs==3.2.2 ; python_version >= "3.11" and python_version < "3.12"
seaborn==0.12.2 ; python_version >= "3.11" and python_version < "3.12"
setuptools==67.4.0 ; python_version >= "3.11" and python_version < "3.12"
shapely==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
snuggs==1.4.7 ; python_version >= "3.11" and python_version < "3.12"
statsmodels==0.13.5 ; python_version >= "3.11" and python_version < "3.12"
syntheticcontrolmethods==1.1.17 ; python_version >= "3.11" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
threadpoolctl==3.1.0 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.64.1 ; python_version >= "3.11" and python_version < "3.12"
typer==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
urllib3==1.26.14 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.6 ; python_version >= "3.11" and python_version < "3.12"
wget==3.2 ; python_version >= "3.11" and python_version < "3.12"
xarray==2023.2.0 ; python_version >= "3.11" and python_version < "3.12"
xmltodict==0.13.0 ; python_version >= "3.11" and python_version < "3.12"
